In [ ]:
#import libraries

# !pip install kaggle
import kaggle

In [ ]:
#Download dataset using kaggle api

!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

In [ ]:
# Extract file from zip file to csv file

import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip') 
zip_ref.extractall() # We can mentioned the path were we want csv file to extract or bydefault it will get extracted were current python file is present
zip_ref.close() # close file

In [ ]:
import pandas as pd
df = pd.read_csv('orders.csv')
# df.head(20)

# To check which columns have null values in dataframe.
df.isna().sum()
df.isnull().sum() #alternate way

df["Ship Mode"].unique()

In [ ]:
#Reading data from files and handle null values

df = pd.read_csv('orders.csv',na_values=['Not Available', 'unknown']) # Not Available and unknown will be set to null values in df.
df["Ship Mode"].unique()

In [ ]:
# Rename column names : Make them lower case and replace space with underscore

# We can rename columns by below way but the problem is we have to do it for all the columns which is challenging.
# df = df.rename(columns = {"Order Id":"order_id", "City":"city" })

# We can achieve the same thing in a better way by below method.
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

df.head(5)

In [ ]:
# Deriving new columns : discount, sale_price, profit

df['discount'] = df['list_price']*df["discount_percent"]*0.01
df['sale_price'] = df['list_price'] - df['discount']
df['profit'] = df['sale_price'] - df['cost_price']
df.head(5)

In [ ]:
df.dtypes

# Converting order_date from object datatype to datetime
# df['order_date'] = pd.to_datetime(df["order_date"], format = "%Y-%m-%d")

In [ ]:
# Dropping cost_price, list_price and discount_percent column since we do not need them
df.drop(columns = ['list_price','cost_price','discount_percent'], inplace=True)

In [ ]:
df.head(11)

In [ ]:
# engine = sal.create_engine('mssql://LAPTOP-N4151GMH/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
# conn=engine.connect()

In [ ]:
engine = sal.create_engine('mysql://root:Diipti@05@127.0.0.1/mydb',pool_recycle = 3306)
conn = engine.connect()

In [ ]:
# Next Step is to build the connection with MySQL

In [ ]:
!pip install PyMySQL

In [56]:
import sqlalchemy as sal
from sqlalchemy import create_engine
import pymysql

In [57]:
user = "root"

password = "Virar123"

host = "127.0.0.1"

db_name = "sql_python"

port = 3306

sql_engine = sal.create_engine(f'mysql+pymysql://{user}:{password}@{host}/{db_name}',pool_recycle=port)

dbConnection = sql_engine.connect()

In [61]:
# Loading the data in MySQL

# Replace option will replace or simply drop and create a new table for us.

# df.to_sql('df_orders',con=dbConnection, index=False, if_exists = 'replace')

# We should create a table first in SQL and then use below code with append, coz replace in pandas will create a table for us with highest possible 
# datatype which requires more memory space

df.to_sql('df_orders',con=dbConnection, index=False, if_exists = 'append')

9994